body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #0b1c2d, #000);
  color: white;
}


/* HEADER */
.site-header {
  background: linear-gradient(90deg, #0a2540, #0f4c81);
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header h1 {
  margin: 0;
}

.site-header nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* CARD */
.grid {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.card {
  background: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  width: 90%;
  max-width: 900px;
  text-decoration: none;
  color: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card h3 {
  padding: 15px;
  margin: 0;
}

.card p {
  padding: 0 15px 20px;
  color: #ccc;
}

/* ABOUT SECTION */
.about {
  max-width: 900px;
  margin: 60px auto;
  padding: 40px;
  background: #1a1a1a;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

.about h2 {
  margin-top: 0;
  color: #4db8ff;
}
